*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    color: #4a4a4a;
    text-decoration: none;
    font-size: 100%;
}

html{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.page-claim {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 120px 50px;
    background-image: url(about-mobile.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 17.5% 50px;
}

.claim{
    width: 400px;
    height: 100%;
    
}

.c-h1{
    font-size: calc(30px + 10 * ((100vw - 480px) / 1440));
    line-height: 1.2;
    font-weight: bold;
    color: #fff;
}

.c-p{
    margin: 2.5rem 0 0;
    font-size: calc(20px + 2 * ((100vw - 480px) / 1440));
    line-height: 1.4;
    font-weight: lighter;
    color: #fff;
}

.about-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.about-text h2{
    font-size: 30px;
    font-weight: bold;
}

.about-text h4{
    font-size: 15px;
    font-weight: bold;
    padding-top: 30px;
}

.about-text p{
    padding: 30px 0 60px;
    font-size: 15px;
    text-align: center;
    font-weight: lighter;
    width: 60%;
}

@media screen and (max-width: 1024px){
    .page-claim{
        margin-top: 80px;
    }
    
    .claim{
        width: 100%;
        text-align: center;
    }
    .about-text h4{
        width: 80%;
        text-align: center;
    }
}

@media screen and (max-width: 768px){
    .page-claim{
        margin-top: 80px;
    }
}

@media screen and (max-width: 425px){
    .claim{
        width: 100%;
        text-align: center;
    }
    .about-text p{
        width: 80%;
    }
}