*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    color: #4a4a4a;
    text-decoration: none;
    font-size: 100%;
}

html{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.product-header{
    height: 100%;
    margin: 99px 0;
    margin-top: 80px;
    background-color: #f3f3f3;
    padding: 40px 20px;
}

.product-container{
    padding:0 20px;;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.featured-img {
    width: 50%;
    display: flex;
    justify-content: center;
}

.featured-img img{
    width: auto;
    height: 500px;
}

.featured-info{
    width: 50%;
    padding-left: 20px;
}

.c-h1{
    font-size: calc(30px + 10 * ((100vw - 480px) / 1440));
    line-height: 1.2;
    font-weight: bold;
}

.c-h5{
    margin-top: 10px;
    line-height: 1.7;
    text-transform: uppercase;
    letter-spacing: 2;
    font-weight: lighter;
    font-size: 11px;
    padding: 0 50px;
}

.description {
    margin-top: 10px;
    margin-right: 204px;
    font-weight: lighter;
    font-size: 15px;
    line-height: 1.7;
}

.question-wrap{
    padding: 0 50px;
    transition: all .3s cubic-bezier(.65,.07,.6,1);
}

.active-wrap,
.question-wrap:hover,
.question-wrap:hover .c-h4,
.active-wrap .c-h4{
    background-color: #4a4a4a;
    color: #fff;
    transition: ease-out;
    cursor: pointer;
}

.c-h4{
    color: #4a4a4a;
    padding: 25px 0;
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.3;
    width: 100%;
}

.answer-wrap{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    background-color: #f3f3f3;
}
.question-row{
    border-bottom: 1px solid #4a4a4a;
    display: flex;
    flex-direction: row;
}

.question-row svg {
    width: 20px;
    height: 15px;
    z-index: 1;
    margin: auto;
    padding: 0;
}

.question-row svg path{
    fill: #4a4a4a;
}

.question-wrap:hover path{
    fill: #fff;
    transition: all .3s ease;
}

.active-wrap .question-row svg path:first-child {
    fill: #fff;
    transform: translateX(6px);
}
.active-wrap .question-row svg path:last-child {
    fill: #fff;
    transform: translateX(-7px);
}

.container{
    padding: 20px 50px 80px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.info{
    padding-left: 100px;
    width: 50%;
}

.info ul{
    margin: 20px 0;
    margin-left: 17px;
    font-size: 15px;
    font-weight: lighter;
}

.container p{
    margin: 20px 0;
    width: 50%;
    font-size: 15px;
    font-weight: lighter;
}

.info p{
    width: 100%;
}

.container .p .img{
    width: auto;
    max-width: 100%;
    height: auto;
}

/* product-line */

.line-title{
    margin-top: 60px;
    padding: 80px 50px 0;
}

.c-h2{
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
    line-height: 1;
}

.line-title .c-h5{
    text-align: center;
}


/* products */

.related-products{
    padding: 80px 50px 0;
}

.products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 10%;
    flex-wrap: wrap;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.prod-img img{
    height: 310px;
}

.information{
    width: 70%;
    overflow: hidden;
    min-height: 80px;
    transform: translateY(0);
    transition: all .6s ease-in-out;
    text-align: center;
}

.main-info .c-h4{
    font-weight: bold;
    font-size: 15px;
    padding: 20px 0;
}

.drod-description{
    transition: all .6s ease-in-out;
}

.drod-description p{
    font-weight: 100;
    font-size: 15px;
}

.cta{
    align-items: flex-start;
    background-color: transparent;
    top: 100%;
    display: flex;
    height: 50%;
    justify-content: center;
    position: absolute;
    transition: all .6s ease-in-out;
    width: 100%;
}

.btn{
    border: 1px solid #4a4a4a;
    display: inline-block;
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 1.4;
    padding: 13px 20px;
    text-transform: uppercase;
    transition: all .6s ease-in-out;
    border-radius: 0;
}

.btn:hover{
    background-color: #4a4a4a;
    color: #fff;
    opacity: 1;
}

.product:hover .cta{
    top: 0;
}

.product:hover .main-info,
.product:hover .drod-description{
    transform: translateY(20px);
    opacity: 0;
}

@media screen and (max-width: 1240px){

    .question-answer .active{
        margin-top: 0;
    }

    .products{
        padding: 0;
    }
}

@media screen and (max-width: 1024px){

    .section-title{
        margin: 65px 0;
    }

    .featured-img{
        padding: 0;
    }

    .featured-img img{
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .featured-info{
        padding: 0;
        text-align: center;
    }

    .description{
        max-width: 85%;
        margin: 0 auto;
        margin-top: 10px;
    }

    .container{
        flex-direction: column;
    }

    .info{
        padding: 0;
        width: 100%;
    }

    .container p{
        justify-content: center;
        width: 100%;
    }

    .line-title{
        padding: 0;
    }

    .related-products{
        padding: 80px 0 0;
    }

    .products{
        flex-wrap: wrap;
    }

    .product{
        width: 50%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 768px){
    .product-container{
        flex-direction: column;
    }

    .featured-img{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .featured-img img{
        margin: auto;
        width: 100%;
        height: 100%;
    }

    .featured-info{
        width: 100%;
        padding: 0;
        text-align: center;
        padding-bottom: 40px;
    }

    .description{
        max-width: 85%;
        margin: 0 auto;
        margin-top: 10px;
    }

    .product{
        width: 100%;
        margin-bottom: 40px;
    }

    .product:hover .main-info,
    .product:hover .drod-description{
        transform: translateY(0px);
        opacity: 1;
    }

    .product:hover .cta{
        top: 200px;
    }
}

@media screen and (max-width: 425px){
    .question-wrap{
        padding: 0 20px;
    }

    .container{
        padding: 20px 20px 80px;
    }
}