.section-title{
    margin: 120px 0 60px;
    text-align: left;
    padding: 0 50px;
    line-height: 1.4;
}

@media screen and (max-width: 1240px){
    .section-title{
        text-align: center;
    }
}